.corpo-texto{
    text-align: center;
    background-color: aquamarine;
    color: blue;
    border: groove 10px green;
}

.lista{
    border: double red 10px;
    background-color: black;
    color: white;
    font-size: 25px;
}

#link-seliga{
    font-size: 25px;
    color: black;
}
#link-seliga:hover{
    font-size: 30px;
    color: goldenrod;
}
